*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:
    radial-gradient(
        circle at top,
        #0f172a,
        #020617,
        #000000
    );

    color:white;

    overflow-x:hidden;

    min-height:100vh;
}

.stars{

    position:fixed;
    inset:0;

    z-index:-2;

    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#38bdf8 1px, transparent 1px),
    radial-gradient(white 2px, transparent 2px);

    background-size:
    120px 120px,
    180px 180px,
    280px 280px;

    animation:
    moveStars 60s linear infinite;
}

@keyframes moveStars{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-500px);
    }
}

.meteor{

    position:fixed;

    top:-150px;
    left:-150px;

    width:3px;
    height:150px;

    background:
    linear-gradient(
        transparent,
        white
    );

    transform:rotate(-45deg);

    animation:
    meteorMove 10s linear infinite;

    z-index:-1;
}

@keyframes meteorMove{

    0%{

        transform:
        translate(0,0)
        rotate(-45deg);

        opacity:1;
    }

    100%{

        transform:
        translate(1800px,1000px)
        rotate(-45deg);

        opacity:0;
    }
}

.navbar{

    position:sticky;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 40px;

    background:
    rgba(0,0,0,.35);

    backdrop-filter:
    blur(20px);

    border-bottom:
    1px solid rgba(255,255,255,.1);

    z-index:999;
}

.logo{

    color:#38bdf8;

    font-size:2rem;
    font-weight:700;

    text-shadow:
    0 0 10px #38bdf8,
    0 0 25px #38bdf8,
    0 0 50px #38bdf8;
}

.nav-right{

    display:flex;
    align-items:center;
    gap:15px;
}

.btn-nav{

    text-decoration:none;

    color:white;

    padding:12px 24px;

    border-radius:40px;

    background:
    linear-gradient(
        135deg,
        #0ea5e9,
        #2563eb
    );

    transition:.3s;
}

.btn-nav:hover{

    transform:
    translateY(-3px)
    scale(1.05);

    box-shadow:
    0 0 20px #38bdf8;
}

.music-btn{

    border:none;

    cursor:pointer;

    color:white;

    font-weight:bold;

    padding:12px 22px;

    border-radius:40px;

    background:
    linear-gradient(
        135deg,
        #06b6d4,
        #3b82f6
    );

    transition:.3s;
}

.music-btn:hover{

    transform:
    translateY(-3px)
    scale(1.05);

    box-shadow:
    0 0 25px #38bdf8;
}

.hero{

    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;

    animation:
    fadeUp 1.2s ease;
}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
        translateY(40px);
    }

    to{

        opacity:1;

        transform:
        translateY(0);
    }
}

.hero h1{

    font-size:4.5rem;

    margin-bottom:20px;

    animation:
    glowTitle 2s ease-in-out infinite alternate;
    floatTitle 4s ease-in-out infinite;
}

@keyframes glowTitle{

    from{

        text-shadow:
        0 0 10px #38bdf8,
        0 0 20px #38bdf8;
    }
    @keyframes floatTitle{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }
}

    to{

        text-shadow:
        0 0 20px #38bdf8,
        0 0 40px #38bdf8,
        0 0 80px #38bdf8;
    }
}

.hero p{

    max-width:700px;

    font-size:1.2rem;

    line-height:1.8;

    color:#cbd5e1;
}

.btn{

    margin-top:30px;

    display:inline-block;

    text-decoration:none;

    color:white;

    padding:14px 30px;

    border-radius:40px;

    background:
    linear-gradient(
        135deg,
        #06b6d4,
        #2563eb
    );

    transition:.3s;
}

.btn:hover{

    transform:
    translateY(-4px)
    scale(1.05);

    box-shadow:
    0 0 30px #38bdf8;
}

.solar-system{

    position:relative;

    width:900px;
    height:900px;

    margin-top:60px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.sun{

    width:170px;
    height:170px;

    border-radius:50%;

    background:
    radial-gradient(
        circle,
        #fff8b0,
        #ffd700,
        #ff9900
    );

    box-shadow:
    0 0 40px #ffd700,
    0 0 80px #ffae00,
    0 0 120px #ff6600;

    animation:
    pulseSun 3s ease-in-out infinite;
}

@keyframes pulseSun{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }
}

@keyframes orbit{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

.mercury-orbit,
.venus-orbit,
.earth-orbit,
.mars-orbit,
.jupiter-orbit,
.saturnus-orbit,
.uranus-orbit,
.neptunus-orbit{

    position:absolute;

    border-radius:50%;

    border:
    1px solid rgba(255,255,255,.08);

    transition:.4s;
}

.mercury-orbit:hover,
.venus-orbit:hover,
.earth-orbit:hover,
.mars-orbit:hover,
.jupiter-orbit:hover,
.saturnus-orbit:hover,
.uranus-orbit:hover,
.neptunus-orbit:hover{

    border-color:#38bdf8;

    box-shadow:
    0 0 15px #38bdf8;
}

.mercury,
.venus,
.earth,
.mars,
.jupiter,
.saturnus,
.uranus,
.neptunus{

    position:absolute;

    border-radius:50%;

    transition:.4s;

    cursor:pointer;
}

.mercury:hover,
.venus:hover,
.earth:hover,
.mars:hover,
.jupiter:hover,
.saturnus:hover,
.uranus:hover,
.neptunus:hover{

    transform:scale(1.6);

    box-shadow:
    0 0 15px white,
    0 0 30px white;
}

.mercury-orbit{

    width:220px;
    height:220px;

    animation:
    orbit 4s linear infinite;
}

.mercury{

    width:14px;
    height:14px;

    background:#b8b8b8;

    top:-7px;
    left:103px;
}

.venus-orbit{

    width:300px;
    height:300px;

    animation:
    orbit 7s linear infinite;
}

.venus{

    width:20px;
    height:20px;

    background:#e6c27a;

    top:-10px;
    left:140px;
}

.earth-orbit{

    width:380px;
    height:380px;

    animation:
    orbit 10s linear infinite;
}

.earth{

    width:24px;
    height:24px;

    background:
    linear-gradient(
        135deg,
        #00bfff,
        #0066ff
    );

    top:-12px;
    left:178px;

    box-shadow:
    0 0 12px #00bfff;
}

.mars-orbit{

    width:460px;
    height:460px;

    animation:
    orbit 14s linear infinite;
}

.mars{

    width:22px;
    height:22px;

    background:#c1440e;

    top:-11px;
    left:219px;
}

.jupiter-orbit{

    width:540px;
    height:540px;

    animation:
    orbit 18s linear infinite;
}

.jupiter{

    width:36px;
    height:36px;

    background:
    linear-gradient(
        135deg,
        #e2b07d,
        #b97745
    );

    top:-18px;
    left:252px;
}

.saturnus-orbit{

    width:620px;
    height:620px;

    animation:
    orbit 22s linear infinite;
}

.saturnus{

    width:34px;
    height:34px;

    background:#f1d28b;

    top:-17px;
    left:293px;

    position:absolute;
}

.saturnus::after{

    content:"";

    position:absolute;

    width:55px;
    height:12px;

    border:
    2px solid rgba(255,255,255,.5);

    border-radius:50%;

    top:9px;
    left:-12px;
}

.uranus-orbit{

    width:700px;
    height:700px;

    animation:
    orbit 28s linear infinite;
}

.uranus{

    width:30px;
    height:30px;

    background:#8de0e8;

    top:-15px;
    left:335px;
}

.neptunus-orbit{

    width:780px;
    height:780px;

    animation:
    orbit 34s linear infinite;
}

.neptunus{

    width:28px;
    height:28px;

    background:#4169e1;

    top:-14px;
    left:376px;
}

@media(max-width:768px){

    .solar-system{

        width:500px;
        height:500px;

        transform:scale(.55);
    }
}

.planet-page{

    text-align:center;

    padding:50px 20px;
}

.planet-header h1{

    font-size:3rem;

    margin-bottom:15px;

    color:white;

    text-shadow:
    0 0 15px #38bdf8,
    0 0 35px #38bdf8;
}

.planet-header p{

    color:#cbd5e1;

    max-width:700px;

    margin:auto;

    line-height:1.8;
}

.planet-buttons{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:12px;

    margin:35px 0;
}

.planet-buttons button{

    padding:12px 20px;

    border:none;

    border-radius:30px;

    color:white;

    font-weight:bold;

    cursor:pointer;

    background:
    linear-gradient(
        135deg,
        #0ea5e9,
        #2563eb
    );

    transition:.3s;
}

.planet-buttons button:hover{

    transform:
    translateY(-4px)
    scale(1.05);

    box-shadow:
    0 0 20px #38bdf8;
}

.active-planet{

    background:
    linear-gradient(
        135deg,
        #38bdf8,
        #60a5fa
    ) !important;

    box-shadow:
    0 0 15px #38bdf8,
    0 0 35px #38bdf8;
}


.planet-card{

    max-width:850px;

    margin:auto;

    padding:30px;

    border-radius:25px;

    display:flex;
    align-items:center;
    gap:30px;

    background:
    linear-gradient(
        135deg,
        rgba(56,189,248,.15),
        rgba(255,255,255,.05)
    );

    border:
    1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    box-shadow:
    0 0 25px rgba(56,189,248,.25);

    animation:
    cardAppear .8s ease;
}

@keyframes cardAppear{

    from{

        opacity:0;

        transform:
        translateY(30px);
    }

    to{

        opacity:1;

        transform:
        translateY(0);
    }
}

.planet-card:hover{

    transform:
    translateY(-6px);

    box-shadow:
    0 0 35px rgba(56,189,248,.5);
}

.planet-image{

    flex:1;
}

.planet-image img{

    width:280px;
    height:280px;

    object-fit:cover;

    border-radius:50%;

    border:
    3px solid rgba(255,255,255,.2);

    box-shadow:
    0 0 25px rgba(56,189,248,.4);

    animation:
    rotatePlanet 40s linear infinite;
}

@keyframes rotatePlanet{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

.planet-info{

    flex:1;

    text-align:left;
}

.planet-info h1{

    font-size:2.5rem;

    margin-bottom:20px;

    color:#38bdf8;
}

.planet-info p{

    line-height:1.8;

    color:#e2e8f0;
}

.planet-info ul{

    margin-top:20px;
    margin-left:20px;

    line-height:2;
}

.fact-box{

    margin-top:25px;

    padding:20px;

    border-radius:20px;

    background:
    rgba(255,255,255,.08);

    border:
    1px solid rgba(255,255,255,.1);
}

.fact-box h2{

    color:#38bdf8;

    margin-bottom:12px;
}

.fact-box p{

    color:#e2e8f0;
}

.next-page{

    text-align:center;

    margin:60px 0;
}


.footer{

    margin-top:80px;

    padding:30px;

    text-align:center;

    color:#cbd5e1;

    background:
    rgba(255,255,255,.04);

    border-top:
    1px solid rgba(255,255,255,.08);
}

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:15px;
    }

    .hero h1{

        font-size:2.7rem;
    }

    .hero p{

        font-size:1rem;
    }

    .planet-card{

        flex-direction:column;

        text-align:center;
        opacity:1;
        transition:.5s;
    }

    .planet-info{

        text-align:center;
    }

    .planet-info ul{

        text-align:left;
    }

    .planet-image img{

   width:50px;
height:50px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid rgba(255,255,255,.2);

    box-shadow:
    0 0 20px rgba(56,189,248,.4);

    animation:
    rotatePlanet 40s linear infinite;
}

    .planet-header h1{

        font-size:2rem;
    }
}
#planet-img{

    width:180px !important;
    height:180px !important;

    object-fit:cover;

    border-radius:50%;

    display:block;

    margin:auto;

    box-shadow:
    0 0 20px rgba(56,189,248,.4);
}

#loader{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:#020617;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;

    transition:1s;
}

.loader-content{

    text-align:center;
}

.loader-content h2{

    margin-top:20px;

    color:white;

    letter-spacing:2px;
}

.loader-planet{

    width:90px;
    height:90px;

    border-radius:50%;

    background:
    radial-gradient(
        circle,
        #38bdf8,
        #2563eb
    );

    box-shadow:
    0 0 20px #38bdf8,
    0 0 50px #38bdf8;

    animation:
    loaderSpin 2s linear infinite;
}

@keyframes loaderSpin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

.loader-hide{

    opacity:0;
    visibility:hidden;
}
.fade-out{

    opacity:0;

    transform:
    translateY(20px);
}

.profile-container{

    text-align:center;
}

.profile-photo{

    width:180px;
    height:180px;

    object-fit:cover;

    border-radius:50%;

    margin-bottom:20px;

    border:4px solid #38bdf8;

    box-shadow:
        0 0 20px #38bdf8,
        0 0 40px #38bdf8;

    transition:.4s;
}

.profile-photo:hover{

    transform:
        scale(1.08)
        rotate(3deg);

    box-shadow:
        0 0 30px #38bdf8,
        0 0 60px #38bdf8;
}
.active-planet{

    background:
    linear-gradient(
        135deg,
        #38bdf8,
        #60a5fa
    ) !important;

    box-shadow:
    0 0 15px #38bdf8,
    0 0 35px #38bdf8;
}
.video-section{

    width:100%;

    max-width:1100px;

    margin:70px auto;

    text-align:center;

    padding:20px;

}

.video-section h2{

    font-size:2rem;

    margin-bottom:15px;

}

.video-section p{

    color:#cbd5e1;

    margin-bottom:25px;

}

.video-section iframe{

    width:100%;

    height:600px;

    border:none;

    border-radius:20px;

    box-shadow:0 0 25px rgba(0,255,255,.3);

}
